*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(210, 106, 122);
}

.heading{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px auto 0px auto;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(89, 136, 215);
}

#title{
background-color: inherit;
}

#subtitle{
background-color: inherit;
}

.container{
    height: 1000px;
    width: 1000px;
    margin: 20px auto 0px auto;
    background-color: rgb(89, 136, 215);
    border: 1px solid red;
}

/* customer section*/
.customer-area{
height: 500px;
width: 500px;

}

.customer-box{

}

/* treat section*/
.treat-area{
height: 500px;
width: 500px;
}

.treat{
width: 50px;
height: 50px;
border: 1px solid black;
}

/* ingredient section*/
.ingredient-area{
width: 500px;
height: 500px;
}
