*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgb(252, 158, 171) 25%, rgb(231, 55, 81) 100%);
}

.heading{
    text-align: center;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: 20px auto 0px auto;
    justify-content: center;
    border-radius: 10px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    border: 5px solid rgb(207, 91, 108);

}

#title{
background-color: inherit;
font-family: "Cherry Bomb One", system-ui;
font-style: normal;
letter-spacing: 2.5px;
font-size: 50px;
}


#subtitle{
background-color: inherit;
font-family: "Cherry Bomb One", system-ui;
font-style: normal;
letter-spacing: 2px;
font-size: 20px;
}

.title-text{
padding: 5px;
font-size: 25px;
text-align: center;
font-family: "Cherry Bomb One", system-ui;
font-style: normal;
letter-spacing: 2px;
color: rgb(146, 181, 241);
}

.container{
    padding: 10px;
    height: fit-content;
    width: 1500px;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    background-color: rgb(65, 117, 206);
    border: 5px solid rgb(56, 98, 170);
}

.sub-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* customer section*/
.customer-area{
text-align: center;
margin: 10px;
padding: 10px;
border-radius: 10px;
width: 600px;
background-color: rgb(26, 66, 134);
border: 5px solid rgb(19, 54, 114);
}

.sub-customer-area{
    width: fit-content;
    height: fit-content;
    background-color: rgb(91, 139, 222);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.customer-box{
width: fit-content;
height: fit-content;
border-radius: 10px;
margin: 10px;
padding: 10px;
background-color: rgb(239, 150, 163);
}

#customer-icon{
    width: fit-content;
    height: fit-content;
    font-size: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(143, 177, 235);
    border: 2.5px solid rgb(112, 146, 204);
}

#customer-tray{
    width: auto;
    height: auto;
    background-color: rgb(219, 96, 114);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
}

#timer{
    width: 150px;
    height: 20px;
    padding: 10px;
    background-color: rgb(159, 239, 150);
    border-radius: 50px;
}

#serve{
    margin: 5px auto 5px auto;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;    
}
/* Game Box*/

.game-box{
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(239, 150, 163);
}

.game-button{
    margin: 5px auto 5px auto;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
}

/* task bar section*/
.task-area{
text-align: center;
margin: 10px;
padding: 10px;
border-radius: 10px;
width: 800px;
background-color: rgb(26, 66, 134);
border: 5px solid rgb(19, 54, 114);
}

.task-icon{
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 100px;
}

.task-text{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
}

.sub-task-area{
    background-color: rgb(91, 139, 222);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.task-icon{
    width: fit-content;
    height: fit-content;
    font-size: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(143, 177, 235);
    border: 2.5px solid rgb(112, 146, 204);
}
.money-box{
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(239, 150, 163);
}

.tip-jar{
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(239, 150, 163);
}

/* treat section*/
.treat-area{
height: fit-content;
margin: 10px;
border-radius: 10px;
background-color: rgb(26, 66, 134);
border: 5px solid rgb(19, 54, 114);
}

.sub-treat-area {
    background-color: rgb(91, 139, 222);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.treat-box{
margin: 10px;
padding: 10px;
border-radius: 5px;
background-color: rgb(239, 150, 163);
display: flex;
justify-content: center;
flex-direction: column;
}

.treat{
    width: 150px;
    height: 150px;
    font-size: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(143, 177, 235);
    border: 2.5px solid rgb(112, 146, 204);
    position: relative;
}

.inv-box{
    width: 150px;
    height: 150px;
    font-size: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(143, 177, 235);
    border: 2.5px solid rgb(112, 146, 204);
    position: relative;
}

.inventory{
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* width: 30px;
    height: 30px; */
    border-radius: 50px;
    background-color: rgb(229, 222, 222);
    border: 1px solid grey;
    right: -10px;
    bottom: -10px;
}

.inventory-num{
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    color: rgb(53, 45, 47);;
}

.treat-name{
    text-align: center;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
}

.treat-button{
    /* margin: 5px auto 5px auto; */
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
    /* margin: auto; */
}

/* ingredient section*/

.ingredient{
    width: 150px;
    height: 150px;
    font-size: 100px;
    margin: auto;
    padding: auto;
    border-radius: 5px;
    background-color: rgb(143, 177, 235);
    border: 2.5px solid rgb(112, 146, 204);
    position: relative;
}

.image{
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
}

.ingredient-text{
    text-align: center;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
}

.ingredient-button{
    /* margin: 5px auto 5px auto; */
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(247, 186, 195);
    background-color: rgb(219, 96, 114);
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
    letter-spacing: 2px;
}

.ingredient-box{
margin: 10px;
padding: 10px;
border-radius: 5px;
background-color: rgb(239, 150, 163);
display: flex;
justify-content: center;
flex-direction: column;
}

.ingredient-area{
    height: fit-content;
    width: auto;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(26, 66, 134);
    border: 5px solid rgb(19, 54, 114);
}

.sub-ingredient-area{
    background-color: rgb(91, 139, 222);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
